In [1]:
%cd ../covid_households
import recipes
import interventions
import traits

/Users/thayer/covid_households/covid_households

In [2]:
susceptibility = traits.LognormalTrait.from_natural_mean_variance(mean=1.0, variance=0.5)
infectivity = traits.LognormalTrait.from_natural_mean_variance(mean=1.0, variance=2.0)

shape = interventions.InterveneOnFraction(0.6)

x = recipes.Model(intervention=interventions.ConstantFactorIntervention(shape, 0.0, 1.0))
x.run_trials(household_beta=0.05, sizes={6:200000}, sus=susceptibility, inf=infectivity)

Warning, attempted to vaccinate fraction=0.6 of household with size=6. Vaccinated 4.0

                  count
size infections
6    1           165026
     2            34974

In [4]:
x2 = recipes.Model()

In [15]:
x2.run_trials(household_beta=0.05, sizes={5:200000}, sus=susceptibility, inf=infectivity)

                  count
size infections
5    1           104984
     2            19474
     3            13190
     4            17766
     5            44586